*****************************************************************************
*                                                                           *
* DRILL TAPE SUMMARY REPORT                                                 *
*                                                                           *
* C:\USERS\OSVALDO COLLALTI\DESKTOP\LAVORII IN CORSO\22-311-0\22-311-0.MAX  *
* Thu Sep 21 14:26:50 2023                                                  *
*                                                                           *
*****************************************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       118      4        200      100                                                                                 
T2       354      5        200      100                                                                                 
T3       472      26       200      100                                                                                 
T4       512      3        200      100                                                                                 
T5       551      4        200      100                                                                                 
T6       630      2        200      100                                                                                 
T7       1299     4        200      100                                                                                 
